[buildout]
extends =
    https://dist.plone.org/release/6.0.4/versions.cfg
    https://dist.plone.org/release/6.0.4/versions-ecosystem.cfg
    https://dist.plone.org/release/6.0.4/versions-extra.cfg
    https://raw.githubusercontent.com/IMIO/buildout.library/plone6/versions.cfg

show-picked-versions = true
extensions =
    mr.developer

parts =
    instance
    test
    code-analysis
    coverage
    test-coverage
    createcoverage
    releaser
    i18ndude
    omelette
    robot

develop = .

auto-checkout +=
    imio.patterns
    library.theme
    collective.behavior.banner
    collective.preventactions

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
eggs =
    Plone
    Pillow
    library.policy [test]


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/library
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-ignore = Q000,E501,C812,P001,P002,B901,E722,S001,W503
return-status-codes = False


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
initialization =
    os.environ['TZ'] = 'UTC'
defaults = ['-s', 'library.policy', '--auto-color', '--auto-progress']


[coverage]
recipe = zc.recipe.egg
eggs = coverage


[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[versions]
# Don't use a released version of library.policy
library.policy =

# override some version pinning from Plone:


# development dependencies (tools and pre commit hook)
<<<<<<< HEAD

=======
>>>>>>> c8c5465 (Migration to Plone6)
collective.z3cform.select2 = 3.0.0b2

[remotes]
imio = https://github.com/IMIO
imio_push = git@github.com:IMIO
collective = https://github.com/collective
collective_push = git@github.com:collective

[sources]
imio.patterns = git ${remotes:imio}/imio.patterns.git pushurl=${remotes:imio_push}/imio.patterns.git branch=plone6
library.theme = git ${remotes:imio}/library.theme.git pushurl=${remotes:imio_push}/library.theme.git branch=plone6
collective.behavior.banner = git ${remotes:collective}/collective.behavior.banner.git pushurl=${remotes:collective_push}/collective.behavior.banner.git
collective.preventactions = git ${remotes:collective}/collective.preventactions.git pushurl=${remotes:collective_push}/collective.preventactions.git branch=plone6
